<!DOCTYPE html>
<html>
  <head>
    <title>TraderJoesProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <!-- Navigation -->
    <% if !session[:user_id].nil? %>
      <% @current_user = User.find(session[:user_id]) %>
        <%= form_for @current_user, url: logout_path, method: :delete do |f| %>
        <%= f.submit "Logout" %>
        <% end %>

    <% end %>
    
    <!-- Main Content -->
    <%= yield %>
  </body>
</html>
